body{
    background-color: #00171b;
    color: #c4c4c4;
}
h1,h2,h3,h4{font-family: "Poor Richard";}
h1{font-size:250%}
h2{font-size:180%}
h3{font-size:140%}
h4{font-size:110%}
div.outer{
    width:650px;
    margin:50px auto;
    text-align:center;
    background-color: black;
    padding-top:30px;
    padding-bottom: 30px;
    font-family: Arial;
}
div.inner{
    margin:90px auto;
}
div.bottom{
    margin-bottom:10px;
}
div.img-box{
    margin:40px auto;
}
hr{
    width:auto;
    margin:25px 50px;
}
hr.narrow{
    width:350px;
    margin:auto auto;
}
ol{
    list-style: inside;
    padding-left:25%;
    text-align: left;
}
ul{
    list-style: inside;
    text-align: left;
    padding-left: 25%;
}
span{
    color:#f00;
    font-weight:bold;
}
span.footer{
    color:#c4c4c4;
    font-weight:bold;
    font-size:110%;
    margin:auto 4%;
}
footer{
    width:650px;
    margin:50px auto;
    text-align:center;
    background-color: black;
    padding-top:30px;
    padding-bottom: 30px;
    font-family: "Poor Richard";
}